{% extends 'home/temp.html' %}

{%block content %}
<div>
    <h2 class="fs-3">Products</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in items %}
        <div class="card">
            <a href="{% url 'item:detail' item.id %}">
                <div>
                    <img src="{{ item.image.url }}" class="rounded-t-xl img-thumbnail">
                </div>

                <div class="p-6 bg-white rounded-b-xl card-body">
                    <h2 class="text-2xl card-title">{{ item.name }}</h2>
                    <p class="text-gray-500 mb-3 card-text">Price: ${{ item.price }}</p>
                    <a href="{% url 'item:detail' item.id %}" class="btn btn-primary">View Details</a>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>

<div class="mt-10 fs-3">
    <h2>Categories</h2>
    <div class="grid grid-cols-3 gap-3 mt-5">
        {% for t in type %}
        <div>
            <a href="#">
                <div p-6 bg-white>
                    <h2>{{t.name}}</h2>
                    <p>{{t.items.count}} items</p>
                </div>
            </a>
        </div>
        {%endfor%}
    </div>
</div>
{%endblock%}