{% extends 'home/temp.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1 class="">{{ title }}</h1>

<form method="post" action="." enctype="multipart/form-data" class="
'row-g3">
    {% csrf_token %}

    <div class="col-md-6">
        {{ form.as_p }}
    
    {% if form.errors or form.non_field_errors %}
        <div class="col-md-6">
            {% for f in form %}
                {{ f.errors }}
            {% endfor %}
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <button class="">Submit</button>
</div>
</form>
{% endblock %}